NODE_ENV=development
port=8080
JWT_SECRET=
DATABASE=
DATABASE_PASSWORD=
DATABASE_LOCAL=
JWT_EXPIRES_IN=1d
JWT_COOKIE_EXPIRES_IN=1
PAYMOB_API_KEY=your_paymob_api_key
PAYMOB_SECRET_KEY=your_paymob_secret_key
PAYMOB_PUBLIC_KEY=your_paymob_public_key
PAYMOB_HMAC=your_paymob_hmac
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
WEBHOOK_ID=
CACHE_DIR=./cache